/- unless current_page?(controller: 'my/dashboard', action: 'index')
= render 'widgets/quick_access'

= render 'widgets/newsletter'
/= render 'widgets/quote_of_the_day'

/.card.mb-3
/  .card-body
/    h5.card-title Current Mood
/    p.card-text How do you feel?
/
/    form
/      .form-group
/        .form-check.form-check-inline
/          input#inlineCheckbox1.form-check-input type="checkbox" value="option1"
/          label.form-check-label for="inlineCheckbox1" 1
/
/        .form-check.form-check-inline
/          input#inlineCheckbox2.form-check-input type="checkbox" value="option2"
/          label.form-check-label for="inlineCheckbox2" 2
/
/        .form-check.form-check-inline
/          input#inlineCheckbox3.form-check-input type="checkbox" value="option3"
/          label.form-check-label for="inlineCheckbox3" 3
/
/        .form-check.form-check-inline
/          input#inlineCheckbox4.form-check-input type="checkbox" value="option3"
/          label.form-check-label for="inlineCheckbox4" 4
/
/        .form-check.form-check-inline
/          input#inlineCheckbox5.form-check-input type="checkbox" value="option5"
/          label.form-check-label for="inlineCheckbox5" 5
/
/      .form-group
/        label for="textarea1" Leave a comment if you want
/        textarea#textarea1.form-control rows="3" placeholder="(optional)"
/
/      button.btn.btn-primary Save
/
/.card.mb-3
/  .card-body
/    h5.card-title Tasks
/
/    form
/      .form-group
/        .form-check
/          input#checkbox1.form-check-input type="checkbox"
/          label.form-check-label for="checkbox1"
/            | &nbsp;Task 1
/
/        .form-check
/          input#checkbox2.form-check-input type="checkbox"
/          label.form-check-label for="checkbox2"
/            | &nbsp;Task 2
/
/        .form-check
/          input#checkbox3.form-check-input type="checkbox"
/          label.form-check-label for="checkbox3"
/            | &nbsp;Task 3
/
/      button.btn.btn-primary type="submit" Mark as completed
/
/.card.mb-3
/  .card-body
/    h5.card-title Recent Activity
/
/    .list-group.list-group-flush
/      a.list-group-item.list-group-item-action
/        .d-flex.w-100.justify-content-between
/          h6.mb-1 Elizaveta Polyakova
/        p.mb-1 Сегодня я сходила на тренировку и получила огромное удовольствие!
/        small 15 minutes ago
/
/      a.list-group-item.list-group-item-action
/        .d-flex.w-100.justify-content-between
/          h6.mb-1 Alexander Pugachev
/        p.mb-1 Some content
/        small 18 minutes ago
/
/      a.list-group-item.list-group-item-action
/        .d-flex.w-100.justify-content-between
/          h6.mb-1 Alexey Chernov
/        p.mb-1 I've added a new video on my YouTube channel. Check this out, friends!
/        small 1 hour ago
/
/
